<!DOCTYPE html>
<html>
  <head>
    <title>Carlo Colombo | Poesie, storie e racconti</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/themes/paper.min.css">
    <link rel="stylesheet" href="/css/photoswipe.css">
    <link rel="stylesheet" href="/css/photoswipe.gallery.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <div id="app"><%- markup %></div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/build.js"></script>
  </body>
</html>
