@media (min-width: 1200px) {
  .container { width: 970px; }
}

@media (min-width: 768px) {
  .Article p {
    font-family: "Georgia", "Cambria";
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .Book { margin-top: 30px; }
  .Article p {
    font-family: "Georgia", "Cambria";
    font-size: 18px;
  }
}

.Article hr {
  margin-top: 0;
}

.Article img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Article figcaption {
  font-family: "Georgia", "Cambria";
  font-size: 18px;
  margin-top: 10px;
}
